/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mt-header {
	padding: 6px 8px 0px;
	position: relative;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.36);
	color: #fff !important;
	background: #007da5 !important;
}
